@import '~vuetify/src/stylus/settings/_variables'

$body-font-family = Montserrat, Circular, Helvetica, Arial, sans-serif
$headings.h1.font-family = Montserrat, Circular, Helvetica, Arial, sans-serif
$headings.h2.font-family = Montserrat, Circular, Helvetica, Arial, sans-serif
$headings.h3.font-family = Montserrat, Circular, Helvetica, Arial, sans-serif
$headings.h4.font-family = Montserrat, Circular, Helvetica, Arial, sans-serif
$headings.h5.font-family = Montserrat, Circular, Helvetica, Arial, sans-serif
$headings.h6.font-family = Montserrat, Circular, Helvetica, Arial, sans-serif

// main.styl
@import '~vuetify/src/stylus/main'

